body {
    background-color: #FF9F1C;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    gap: 1rem;
}

nav > * {
    text-decoration: underline;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

nav > *:hover {
    color: #555;
}

main{
    background-color: white;
    height: auto;
    width: 95vw;
    padding-bottom: 2rem;
}

.grid-container {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 1.5rem;
    border-radius: 2rem;
    padding: 2rem;
    padding-bottom: 3rem;
}

.item {
    display: flex;
/*  border: 3px solid black; */
    box-shadow: 5px 5px 10px 0 #222;
    min-height: 100%;
    border-radius: 1rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    gap: 1rem;
}

.hover-effect:hover {
    box-shadow: inset 5px 5px 10px 0 #222;
}

.item-double-column {
    grid-column: span 2;
}

h1 {
    color: #eee;
    font-size: 5rem;
    margin: 1rem 0 1rem 0;
    width: 30rem;
}
